<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<section class="cown-down" th:fragment="cown-down">
		<div class="section-inner ">
			<div class="row">
				<div class="col-lg-6 col-12 padding-right">
					<div class="image">
						<img
							src="https://res.cloudinary.com/hungnn22cloudinary/image/upload/v1634285322/cown-down_lqzrbs.jpg"
							alt="#">
					</div>
				</div>
				<div class="col-lg-6 col-12 padding-left">
					<div class="content">
						<div class="heading-block">
							<p class="small-title">Deal of day</p>
							<h3 class="title">Beatutyful dress for women</h3>
							<p class="text">Suspendisse massa leo, vestibulum cursus
								nulla sit amet, frungilla placerat lorem. Cars fermentum,
								sapien.</p>
							<h1 class="price">
								$1200
								<s>$1890</s>
							</h1>

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>