<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<section class="midium-banner" th:fragment="midium-banner">
		<div class="container">
			<div class="row">
				<!-- Single Banner  -->
				<div class="col-lg-6 col-md-6 col-12">
					<div class="single-banner">
						<img
							src="https://res.cloudinary.com/hungnn22cloudinary/image/upload/v1634285328/midium-banner1_nfpdm3.jpg"
							alt="#">
						<div class="content">
							<p class="text-light">Man's Collectons</p>
							<h3>
								Man's items
								<br>
								Up to
								<span> 50%</span>
							</h3>
							<a href="#">Shop Now</a>
						</div>
					</div>
				</div>
				<!-- /End Single Banner  -->
				<!-- Single Banner  -->
				<div class="col-lg-6 col-md-6 col-12">
					<div class="single-banner">
						<img
							src="https://res.cloudinary.com/hungnn22cloudinary/image/upload/v1634285334/midium-banner2_afw9x6.jpg"
							alt="#">
						<div class="content">
							<p class="text-light">shoes women</p>
							<h3>
								mid season
								<br>
								up to
								<span>70%</span>
							</h3>
							<a href="#" class="btn">Shop Now</a>
						</div>
					</div>
				</div>
				<!-- /End Single Banner  -->
			</div>
		</div>
	</section>
</body>
</html>