<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<footer class="sticky-footer bg-white" th:fragment="footer">
		<div class="container my-auto">
			<div class="copyright text-center my-auto">
				<span>
					copyright &copy;
					<script>
						document.write(new Date().getFullYear());
					</script>
					- developed by
					<b>
						<a href="https://therichpost.com/" target="_blank">therichpost</a>
					</b>
				</span>
			</div>
		</div>


	</footer>
</body>
</html>